
.form__container {
  margin: auto;
  width: 100%;
  padding: 1.5rem;
}

.form__control {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
select {
  width: 70%;
  padding: 0.5rem 1rem;
  margin: 0.3rem 0;
  border: 1px solid #8b8c8b5e;
  outline: none;
}
