.category_container {
  margin: 0 2rem;
}

h2 {
  margin: 1.2rem 0;
}

.catlog {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.content {
  display: flex;
  align-items: center;
}

img {
  border-radius: 8px;
  padding: 0.5rem 0.5rem;
  background-color: #434b543e;
  width: 20%;
  margin-right: 1rem;
}

.deal_container {
  margin: 1rem;
}

.created_at {
  width: fit-content;
  padding: 0.5rem 1.2rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 3px 0 #3778c2;
}

.hour {
  font-size: 12px;
}

.day {
  font-size: 1.2rem;
  font-weight: 600;
}

.dealings {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0.4rem;
}

.total {
  text-align: center;
  border: 1px solid #000;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.data {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-content: center;
  align-items: center;
  width: 70%;
}

.time {
  font-size: 12px;
  margin-top: 0.8rem;
}

.content_class {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back_home {
  color: #000;
  box-shadow: 0 0 3px 0 #0a2f5a;
  border-radius: 4px;
  padding: 0.5rem;
}

.empty {
  text-align: center;
  color: #434b54;
  margin: auto;
  margin-top: 50%;
}

.Add_btn {
  border: #0a2f5a solid 1px;
  border-radius: 5px;
  padding: 5px;
  margin: 0.2rem 1rem;
  display: flex;
  color: azure;
  background-color: green;
  width: 3rem;
  align-self: flex-end;
}

.catolog_content {
  display: flex;
  margin: auto;
  gap: 1rem;
  padding: 1rem;
}

.back_btn {
  margin: 1rem;
  padding: 3px;
  background-color: rgb(172, 57, 7);
  color: azure;
  border: red 1px solid;
}

.show-btn {
  display: flex;
  justify-content: space-between;
}

.catalog {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 1rem;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
}

p {
  font-size: 20px;
  font-weight: bold;
}

.name-time {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
